<div class="row">
  <h1>Student List</h1>
</div>
<div class="row">
  <%= search_form_for @search, remote: true do |f| %>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit "Search" %><br>
  <% end %>
</div>
<div class="row" id="student_list">
  <%= render "student_list" %>
</div>
