<div class="row">
  <h1>Add Student</h1>
</div>
<div class="row">
  <%= form_for :student do |f| %>
    Name: <%= f.text_field :name %><br>
    City: <%= f.text_field :city %><br>
    Marks: <%= f.text_field :marks %><br>
    <%= f.submit %>
  <% end %>
</div>
<div class="row">
  <%= link_to 'Add Student' %>
</div>
